body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
    margin: 20px 0;
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.product-details {
    padding: 15px;
}

.product-details h4 {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}

.view-more {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.view-more:hover {
    background-color: #0056b3;
}




/* 2nd page  */
#product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.details-card {
    text-align: left;
    width: 100%;
}

.details-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.details-info {
    color: #555;
}

.details-info h2 {
    color: #333;
    margin-bottom: 10px;
}

.details-info h4, .details-info p {
    margin: 5px 0;
    font-size: 16px;
}


#back-button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#back-button:hover {
    background-color: #0056b3;
}